@font-face {
    font-family: Nexa_Bold;
    src: url('font/Nexa_Bold.otf') format('opentype');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Nexa_Bold;
    color: #fff
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/Fundo.png');
    background-size: cover;
    background-position: top;
}

.container {
    margin-top: 3%;
    position: relative;
    width: 80%;
    height: 80%;
    display: flex;
    background-color: #283D52;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, .212);
    border-radius: 2%;
}

.form{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1%;
}

.form-header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.form-header h1{
    text-align: center;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: #fff;
    margin: 0 auto;
    position:relative;
}

.results{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1%;
}

.results p{
    margin-top: 1.1rem;
}

.results h2::after{
    content: '';
    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: #fff;
    margin: 0 auto;
    position:relative;
}

.results-show{
    display: grid;
    grid-template-columns: auto auto auto;
    right: 0;
}

.results-box{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.results-align{
    text-align: right;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1%;
}

.input-group h2::after{
    content: '';
    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: #fff;
    margin: 0 auto;
    position:relative;
}

.input-box{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.1rem;
}

.input-box label{
    margin-right: 1.1rem;
}

.input-box input{
    top: 50%;
    margin-left: auto;
    border: none;
    border-radius: 3px;
    background-color: #E0CA96;
    color: #000;
    text-align: right;
}

.logo {
    position: absolute;
    bottom: 1%;
}